extends layout

block content
  div.container-fluid
    div.row.mt-3
      div.col-sm-11.h-25
        h5= title
      div.col-sm-1.text-right.h-25
        a(class='btn btn-primary btn-sm' href='/notes/create') New
  table.table.mt-3
    thead.thead-inverse
      tr
        th Id
        th Title
        th Content
        th(colspan='2')
    tbody
      each note in notes
        tr
          td= note._id
          td(scope='row')= note.title
          td= note.content
          td.text-right
            a(class='btn btn-success btn-sm' href='/notes/edit') Edit
          td
            a(class='btn btn-info btn-sm' href='/notes/detail') Detail